*{
    margin: 0;
    padding: 0;
}

/* multy css */
.font-style{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header section */
.header{
    max-width: 1240px;
    margin: 30px auto;
}

.dark-2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

/* nav section */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul{
    display: flex;
}

.nav-menu ul li{
    list-style: none;
}

.nav-menu ul li a{
    margin-left: 25px;
    text-decoration: none;

}
.nav-bold{
    font-size: 1.2rem;
    color:#252432 ;
    font-weight: bold;

}

.nav-cart{
    font-size: 1.2rem;
    font-weight: 400;
    color: #252432 ;
}




/* media quary */
@media screen and (max-width:576px) {
    .nav-container{
        max-width:100% ;
        padding: 10px;

    }
    .nav-bold, .nav-one, .nav-tow{
        display: none;
    }
}