*{
    margin: 0;
    padding: 0;
}

/* multy css */
.font-style{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header section */
.header{
    max-width: 1240px;
    margin: 30px auto;
}

section{
    max-width: 1240px;
    margin: 80px auto;
}

.dark-2{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
}

/* nav section */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul{
    display: flex;
}

.nav-menu ul li{
    list-style: none;
}

.nav-menu ul li a{
    margin-left: 25px;
    text-decoration: none;

}
.nav-bold{
    font-size: 1.2rem;
    color:#252432 ;
    font-weight: bold;

}

.nav-cart{
    font-size: 1.2rem;
    font-weight: 400;
    color: #252432 ;
}

/* Banner-container */
.banner-container{
    display: flex;
    align-items: end;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 10px;
}
#color-title{
 color: #E95A08;
}

/* Plant section */
.plant-text{
    text-align: center;
    max-width: 900px;
    margin: 15px auto;
}

.plant-title{
    font-size: 3.1rem;
    font-weight: bold;
}
.plant-title span{
    color: #E95A08;
}

/* plant-carts */
.plant-carts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 20px;
}

.cart-item h3{
 font-size: 1.4rem;
 font-weight: 300;
}

.cart-item h4{
    font-size: 1.4rem;
    margin: 8px 0px;
}
.cart-btn{
    background-color: #E95A08;
    padding: 10px 20px;
    max-width: 90%;
    color: aliceblue;
    border: none;
}

/* plants-lover-section */
.plants-lover-section{
    display: flex;
    gap: 80px;
}

.lover-text{
    max-width: 40%;
}
.lover-text ul li{
    margin-bottom: 20px;
    margin-top: 20px;
}

.lover-title{
    font-size:3.2rem ;
    font-weight: bold;

}
.lover-image{
    position: relative;
    
}

.badge{
    width: 40%;
    position: absolute;
    margin-left: 400px;
    margin-top: -80px;
}

/* Letest section */
.letest-text{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

.letest-title{
    font-size: 3.2rem;
}
.letest-title span{
    color: #E95A08;
}

/* image section */
.image-section{
    display: flex;
    height: 400px;
    column-gap: 45px;
}
.img-one{
   background:linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.651)), url(assets/deal-ana.png);
    width: 110%;
    height: 47%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.image-3{
     background:linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.651)), url(assets/deal-bloom.png);
    width: 110%;
    height: 47%;
    margin-top: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dubble-image h2{
    font-size: 1.4rem;
    color: rgb(236, 243, 243);
    
}
.dubble-image a{
    color: aliceblue;
    margin-top: 10px;
}

.img-tow{
    background-image:linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.651)), url(assets/deal-zabo.png);
    padding: 0px 150px;
    height: 400px;
    background-size: cover;
     border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.img-tow h2{
    font-size: 3rem;
    color: #ffffff;
}
.img-tow a{
    color: #ffffff;
    font-size: 1.8rem;
    margin-top: 10px;
}


/* media quary */
@media screen and (max-width:576px) {
    .nav-container{
        max-width:100% ;
        padding: 10px;

    }
    .nav-bold, .nav-one, .nav-tow{
        display: none;
    }

    /* Banner-container */
    .banner-container{
        flex-direction: column-reverse;
        
        
    }
    .banner-text{
        padding: 10px;
    }

    .banner-title{
        font-size: 2rem;
    }

    /* Plants section */
    .plant-carts{
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        gap: 5px;
        row-gap: 10px;
    }
    .plant-text{
        max-width: 100%;
    }
    .cart-btn{
        width: 100%;
    }
    .cart-item img{
        width: 100%;
    }
    .cart-item{
        padding: 5px;
    }

    /* Plant lover section */
    .badge{
        display: none;
    }

    .plants-lover-section{
        flex-direction: column;
        row-gap: 10px;
        
    }


    .lover-text{
        max-width:100%;
        padding-left:10px ;
    }
    .lover-image img{
        max-width:100%;
    }
    .lover-title{
        font-size: 2rem;
    }

    .lover-text ul li{
        margin-top: 5px;
        font-size: 1rem;
    }

    /* image-section */
     .image-section{
        flex-direction: column;
        column-gap: 2px;
     }
     .image-3, .img-one{
        max-width: 100%;
        height: 200px;
     }
     .img-tow{
        max-width:calc(100% - 10px);
        height: 200px;
        margin-top: 20px;
        padding: 0px 10px;
     }
     .img-tow h2{
        font-size: 1.4rem;
     }

     
}